.swipeButtons {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  bottom: 10vh;
}
/* useful property */
.swipeButtons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
}
